.form_input {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.input_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.form_input input {
	width: 100%;
	height: 30px;
	font-size: 20px;
}

.form_input input::placeholder {
	font-size: 20px;
}
